@import 'mixins.scss';
// @import url(https://fonts.googleapis.com/css?family=BenchNine:400,700,300&subset=latin,latin-ext);

// Helpers
@function calcSize($name, $value) {
  @return $name * ($value*0.01);
}

// Fonts
@font-face {
  font-family: "Bender";
  src: url("../fonts/bender.otf");
}
@font-face {
  font-family: "Bender Bold";
  font-weight: bold;
  src: url("../fonts/bender-bold.otf");
}
@font-face {
  font-family: "Bender Light";
  src: url("../fonts/bender-light.otf");
}

// Sizing
// This is used for precise calculation of positioning
$screen-res-x: 1920px;
$screen-res-y: 1080px;
// This will make sure that elements positioned out of visible view port will move
// at least XX(see number bellow)px futher just to make sure that there is no ugly
// clipping on screen
$off-screen-correction: 10px;
// Chat item
$chat-item-width: 20%; // based on size of screen(viewport)

// Positioning(in %)
$deploying-top: 60;

// Colors
$font-color: #fff;
$main-color: rgba(208, 0, 220, 0.8);
$secondary-color: #277CFB;
$timer-color: $main-color;
$transparent-black-color: rgba(0, 0, 0, 0.7);

// Timer
$main-visible-for: 9s;
$main-animation-delay: 0.1s;
$main-animation-duration: 0.8s;
// Gain size animation
$gain-animation-duration: 0.5s;
$gain-animation-delay: $main-animation-delay + $main-animation-duration + 1s;
// Timer line
$timer-animation-delay: $main-animation-delay + $main-animation-duration;
// Total duration of all animations before chat item hides
$total-duration: $main-visible-for + $main-animation-delay + $main-animation-duration;


@include keyframes (slide-in) {
  from {
    // 100% height of chat item + size of space between an item and the edge of screen
    @include vendor-prefix('transform', 'translateY(' + unquote("calc(100% + " + calcSize($screen-res-y, 5) + " + #{$off-screen-correction})") + ')');
  }
  to {
    @include vendor-prefix('transform', 'translateY(0)');
  }
}
@include keyframes (slide-out) {
  from {
    @include vendor-prefix('transform', 'translateX(0)');
  }
  to {
    // 100% width of chat item + size of space between an item and the edge of screen
    @include vendor-prefix('transform', 'translateX(' + unquote("calc(-100% - " + calcSize($screen-res-x, 6) + " - #{$off-screen-correction})") + ')');
  }
}
@include keyframes (gain-size) {
  from {
    @include vendor-prefix('transform', 'scaleX(100%)');
  }
  to {
    @include vendor-prefix('transform', 'scaleX(0)');
  }
}
@include keyframes (timer) {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

body {
  margin: 0 auto;
  overflow: hidden;
  background: url(../images/deploying.jpg);
  background-size: cover;
  font-family: "Bender", sans-serif;
  color: $font-color;
  text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
}

#content {
  width: 500px;
}

#deploying {
  margin: 0 auto;
  margin-top: calcSize($screen-res-y, $deploying-top);
  font-family: "Bender Light", sans-serif;

  #timer {
    text-transform: uppercase;
  }
}

#chat-item {
  position: absolute;
  left: 4%;
  bottom: 5%;
  width: $chat-item-width;
  font-weight: 300;
  font-family: "BenchNine", sans-serif;
  color: #fff;
  background-color: $transparent-black-color;

  @include vendor-prefix('animation', 'slide-in #{$main-animation-duration} #{$main-animation-delay} cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards, slide-out #{$main-animation-duration} #{$total-duration} cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards');

  .name {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 10px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    background-color: $main-color;
    color: #fff;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;

    @include vendor-prefix('animation', 'gain-size #{$gain-animation-duration} #{$gain-animation-delay} ease forwards');
  }
  .message {
    float: left;
    margin: 0;
    padding: 10px 20px 20px 20px;
    box-sizing: border-box;
  }
}
